html {
    font-family: Sharp Sans, Arial, sans-serif;
}

body {
    background-color: #f8f9f9;
    width: auto;
}

a {
    text-decoration: none;
}

#menu li {
    list-style: none;
    display: inline;
    font: 700 13px sharp sans, Arial, sans-serif;
}

li img {
    padding-right: 80px;
    padding-top: 15px;
}

#menu {
    margin-left: 50px;
    margin-top: 0px;
}

#menu ul li {
    padding: 33px;
}

#menu ul li a {
    color: #e0e0e0;
}

#BTroxo {
    border-radius: 10px;
    background: #ffffff00;
    cursor: pointer;
    color: #b700ff;
    border: 2px solid#b700ff;
    font: sharp sans, Arial, sans-serif;
    padding: 15px 32px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border-radius: 10px;
    background-color: #f59300;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button_vermelho {
    background-color: #f50000;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

.button_azul {
    background-color: #0765bd;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

.button_verde {
    background-color: #069601;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

h1 {
    font-weight: 700;
    color: #17494D;
    font-size: 40px;
    text-align: left;
}

#text div {
    width: 43%;
    display: inline-block;
    vertical-align: top;
}

#left {
    margin-left: 110px;
}

#rigth {
    margin-top: 35px;
    position: relative
}

h2 {
    font-size: 20px;
    font-weight: 700;
    color: #03363d;
    font-family: sharp sans en, sharp sans accents, sharp sans symbols, sharp sans, Arial, sans-serif;
    margin-top: 10%;
}

footer {
    margin-top: 10%;
    background: rgb(199, 199, 199);
}

footer button {
    border: none;
    background: #f59300;
    color: white;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
}


#menu button{
    font-size: 11px;
    
}